
.predictionAdc-content{
  height: 100%;
  width: 100%;
	background: #EDEDED;
	position: relative;
	.predictionAdc-table{
		width: 100%;
		margin: 0;
		height: 100%;
		.predictionAdc{
			width: 100%;
			height: 100%;
			background: #ededed;
			.title-name{
				width: 100%;
				background: #fff;
				height: 48px;
				border-bottom: 1px solid rgba(#000000, 0.08);
				font-size: 14px;
				color: rgba(#000000, 0.6);
				position: relative;
				span{
					position: absolute;
					left:20px;
					top:17px;
				}
			}
		}
		.predictionAdc-time-content{
			width: 100%;
			height: 190px;
			background: #ededed;
			.time-content-left{
				float: left;
				background: #fff;
				width: calc(50% - 10px);
				height: 100%;
				.content-left-title{
					width: 100%;
					height: 48px;
					border-bottom: 1px solid rgba(#000000, 0.08);
					line-height: 48px;
					.mes-name{
						font-size: 14px;
						font-family: "PingFangSC-Regular";
						color: rgba(#000000, 0.6);
						margin-left: 20px;
						float: left;
					}
					.mes-find{
						font-size: 14px;
						font-family: "PingFangSC-Regular";
						color: #00C1DE;
						float: right;
						margin-right: 20px;
						cursor: pointer;
					}
				}
				.content-left-body{
					width: 100%;
					height: calc(100% - 49px);
					.predictionAdc-time{
						width: calc(50% - 1px);
						height: 100%;
						float: left;
						padding-left: 36px;
						.time-lookOver-conent{
							display: block;
							font-family: "PingFangSC-Regular";
							font-size: 12px;
							color: rgba(#000000,0.4);
							margin-top: 20px;
						}
						.time-number{
							display: block;
							font-family: "PingFangSC-Medium";
							font-size: 32px;
							margin-top: 19px;
							color: #00C2DF;
						}
						.time-time{
							display: block;
							font-family: "PingFangSC-Regular";
							font-size: 12px;
							padding-top: 7px;
							color: #999;
						}
					}
					.division-line{
						display: block;
						float: left;
						width: 2px;
						height: 65px;
						background: #F0F0F0;
						margin-top: 38px;
					}
				}
			}
			.time-content-right{
				float: left;
				background: #fff;
				width: calc(50% - 10px);
				height: 100%;
				margin-left: 20px;
				line-height: 48px;
				.content-right-title{
					width: 100%;
					height: 48px;
					border-bottom: 1px solid rgba(#000000,0.08);
					.mes-name{
						font-size: 14px;
						font-family: "PingFangSC-Regular";
						color: rgba(#000000,0.6);
						margin-left: 20px;
						float: left;
					}
					.mes-find{
						font-size: 14px;
						font-family: "PingFangSC-Regular";
						color: #00C1DE;
						float: right;
						margin-right: 20px;
						cursor: pointer;
					}
				}
				.content-right-body{
					width: 100%;
					height: calc(100% - 49px);
					.predictionAdc-time{
						width: calc(50% - 1px);
						height: 100%;
						float: left;
						padding-left: 36px;
						.time-lookOver-conent{
							display: block;
							font-family: "PingFangSC-Regular";
							font-size: 12px;
							color: rgba(#000000,0.4);
						}
						.time-number{
							display: block;
							font-family: "PingFangSC-Medium";
							font-size: 32px;
							color: #00C2DF;
						}
						.time-time{
							display: block;
							font-family: "PingFangSC-Regular";
							font-size: 12px;
							color: #999;
						}
					}
					.division-line{
						display: block;
						float: left;
						width: 2px;
						height: 65px;
						background: #F0F0F0;
						margin-top: 38px;
					}
				}
			}
		}
		.predictionAdc-menu{
			width: 100%;
			height: 48px;
			background: #fff;
			margin-top: 30px;
			border-bottom: 1px solid #EBEBEB;
			position: relative;
			.predictionAdc-menu-title{
				font-family: "PingFangSC-Regular";
				font-size: 14px;
				color: rgba(#000000, 0.6);
				line-height: 48px;
				margin-left: 20px;
			}
			.title-name-time{
				line-height: 48px;
				font-family: "PingFangSC-Regular";
				font-size: 12px;
				margin-left: 8px;
				color: rgba(#000000, 0.4)
			}
			.from-model{
				width: 100%;
				height: 48px;
				background: #fff;
				position: relative;
				border-bottom: 1px solid #EBEBEB;
				.seekInput{
					display: inline-block;
				}
				.seekButton{
					display:inline-block;
					border-radius: 2px;
				}
			}
			.next-input-medium{
				min-width: 185px;
			}
			.next-form-item-label{
				font-size: 12px;
				color: #333;
				font-family: "MicrosoftYaHei";
			}
			.next-select-inner{
				color: #999;
				font-size: 12px;
				width: 135px;
				font-family: "PingFangSC-Regular";
			}
			.model-contrast{
				border-radius: 2px;
				width: 88px;
				height: 28px;
				font-size: 12px;
				font-family: "MicrosoftYaHei";
				position: absolute;
				right: 20px;
				top: 10px;
			}
		}
		.predictionAdc-list-content{
			width: 100%;
			background: #EDEDED;
			padding-bottom: 47px;
			.table{
				width: 100%;
				.next-table-header-node{
					background: #FBFBFC;
					height: 40px;
					color: #999;
					font-size: 12px;
					font-family: "MicrosoftYaHei"
				}
				.next-table-row{
					height: 40px;
					border-color: #F6F3F3;
					.next-table-cell-wrapper{
						height: 40px;
						color: #333;
						font-size: 12px;
					}
				}
			}
		}
		.next-input-group, .next-select.medium{
			min-width: 185px;
		}
	}
	.predictionAdc-pages{
		position: fixed;
		width: 100%;
		height: 48px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #fff;
		bottom: 0px;
		left: 0px;
		border-top: 1px solid #EDEDED;
		.ant-pagination{
			padding-right: 19px;
			float: right;
		}
	}
}
